{% extends 'base.html.twig' %}
{% block body %}
    <div class="summary" style="padding-right: 12px">
    {% if users %}
        <table border="1">

            <tr>
                <th>Id</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Email</th>
                <th>Lozinka</th>
                <th>Odblokiraj</th>
                <th>Izbriši</th>

            </tr>
            {% for user in users %}
                {%  if user != app.user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.ime }}</td>
                <td>{{ user.prezime }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lozinkaBackUp }}</td>
                <td>{% if user.blokiran == true %}  <p class="btn btn-danger" ><a href="{{ path('update_user',{id : user.id}) }}">Odblokiraj</a></p> {% endif %}</td>
                <td> <p class="btn btn-danger" ><a href="{{ path('delete_user', {id : user.id}) }}">Izbriši</a></p></td>
            </tr>
                {% endif %}
        {% endfor %}
        </table>
    {% endif %}
    </div>

    <div class="summary" style="padding-left: 12px">
          {% if nonAdmini %}
              <table border="1">
                  <tr>
                      <th>Ime</th>
                      <th>Prezime</th>
                      <th>Korisničko ime</th>
                      <th>Dodijeli admina</th>
                  </tr>
                  {% for user in nonAdmini %}
                      <tr>
                          <td>{{ user.ime }}</td>
                          <td>{{ user.prezime }}</td>
                          <td>{{ user.username }}</td>
                          <td><p class="btn btn-danger" ><a href="#">Dodijeli admina</a></p></td>
                      </tr>
                  {% endfor %}
              </table>
          {% else %}
              <p>Nema raspoloživih kandidata</p>
          {% endif %}
    </div>
{% endblock %}
