{% extends 'base.html.twig' %}
{% block body %}
    <div class="summary" style="padding-left: 10%;">
        {%  if user %}
            <h2>Korisnik: </h2>

            <table border="1">
                <tr>
                    <th>Elementi tablice</th>
                    <th>Podaci</th>

                </tr>
                <tr>
                    <td>Ime</td>
                    <td>{{  user.ime }}</td>

                </tr>
                <tr>
                    <td>Prezime</td>
                    <td>{{ user.prezime }}</td>

                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>

                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>

                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{ user.lozinkaBackUp }}</td>

                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{ user.id }}</td>

                </tr>
                <tr>
                    <td>Osobna slika</td>
                    <td><img src="../images/profilna.jpg" alt="Srecko MRK" height="142" width="112"></td>
                </tr>
            </table>
        {%  endif %}
    </div>

    <div class="summary"style="padding-left:12px">
        <h2>
            Promjena lozinke</h2>
            <form method="POST" style="padding-top: 10px">
                <label  for="staraLozinka">Stara lozinka</label>
                <input  type="password" size="60" name="staraLozinka" id="staraLozinka" required autofocus><br>
                <label  for="novaLozinka">Nova lozinka</label>
                <input  type="password" size="60" name="novaLozinka" id="novaLozinka" required autofocus><br>
                <label for="ponovljenaLozinka">Ponovljena lozinka</label>
                <input  type="password" size="60" name="ponovljenaLozinka" id="ponovljenaLozinka" required autofocus><br><br>
                <button class="btn btn-warning" type="submit">Promjeni</button>
            </form>
        {% if errors %}
            {% for greska in errors %}
                <p>{{ greska }}</p><br>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
