{% extends 'base.html.twig' %}

{% block title %}Popis studenata {% endblock %}

{% block body %}
    <div class="summary">
        <h3>Operacije sa timovima</h3>
        {% if students %}
            <form method="POST">
                <button name="kreiranjeStudenta"class="btn btn-primary" type="submit">Kreiraj studenta</button>
                <table border="1">
                    <tr>
                        <th>Id</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Status studenta</th>
                        <th>Email</th>
                        <th>Napomena</th>
                        <th>Pripadnost timu</th>
                        <th>Operacije</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.ime }}</td>
                            <td>{{ student.prezime }}</td>
                            <td>{{ student.status }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.napomena }} </td>
                            <td>{% if student.tim|length>0 %}
                                        {{ student.tim.oznakaTima }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>


                            <td><p class="btn btn-warning" ><a href="{{ path("update_student",{ slug: student.id}) }}">Update</a></p>
                                <p class="btn btn-danger" ><a href="#">Delete</a></p>
                                {% if student.tim|length <1 %} <p class="btn btn-dark" ><a href="{{ path("student_to_team",{ slug: student.id}) }}">Pridruži timu</a></p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        {% endif %}
    </div>
{% endblock %}
