{% extends 'base.html.twig' %}
{% block title %}
    Ažuriraj Studenta
{% endblock %}
{% block body %}
    <div class="summary">
        <h2>Ažuriraj studenta</h2>
        <form method="post">
            <label for="imeStudenta">Ime </label><br>
            <input type="text" value="{{ student.ime }}" size="60" name="imeStudenta" id="imeStudenta" required autofocus placeholder="Unesite  ime studenta"><br>
            <label for="nazivProjekta">Prezime</label><br>
            <input type="text" size="60" value="{{ student.prezime }}" name="prezimeStudenta" id="prezimeStudenta" required autofocus placeholder="Unesite prezime studenta"><br>
            <label for="statusStudenta">Status studenta</label><br>
            <select name="statusStudenta" id="statusStudenta">
                <option selected value="Redovni">Redovni</option>
                <option value="Izvanredni">Izvanredni</option>
            </select>
            <br>
            <label for="email">Email</label><br>
            <input type="email" value="{{ student.email }}" size="60" required name="emailKorisnika" id="emailKorisnika" autofocus><br>
            <label for="napomena">Napomena</label><br>
            <textarea autofocus value="{{ student.napomena }}" rows="10" cols="100" name="napomena" id="napomena" maxlength="400" placeholder="Unesite napomenu"></textarea><br>
           {% if student.tim|length > 0 %}
                <select name="timStudenta" id="timStudenta">
                    <option selected value="">-</option>
                    {% for team in teams %}
                    <option value="{{ team.oznakaTima }}">{{ team.oznakaTima }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <button class="btn btn-success" type="submit">Ažuriraj studenta</button>
        </form>

    </div>
{% endblock %}
